/* ELEMENTOS GLOBAIS */
html {
    font-family: 'Roboto',
     sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

:root {
   --title-color: #322153;
   --primary-color: #34cb79;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

/* BOX MODEL
Exibição: block/in line
Block: Ocupa a linha inteira
in Line: Ocupa só o espaço do elemento */
